<div id="highlight" class="well">
  <b>Mix of the Day: <%= @highlight.name %></b> (<%= seconds_to_time @highlight.duration %>)
  <div>
    <%= link_to 'View mixtape', mixtape_path(@highlight) %>
    &middot;
    <%= link_to mixtape_comments(@highlight) do %>
      <%= pluralize @highlight.comments.count, 'comment' %> (<%= @highlight.comments.today.count %> new today)
    <% end %>
  </div>
</div>
