<h1><%= text_field_tag :name, @mixtape.name, :placeholder => "Mixtape Name" %></h1>

<table id='mixtape' class='table'>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Artist</th>
      <th>Original Album</th>
      <th>Duration</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @mixtape.songs.each do |song| %>
      <tr data-song-id="<%= song.id %>">
        <td><div class='handle'>&#9776;</div></td>
        <td><%= text_field_tag :song_title, song.title, :placeholder => "Song Title" %></td>
        <td><%= text_field_tag :song_artist, song.artist, :placeholder => "Song Artist" %></td>
        <td><%= text_field_tag :song_album, song.album, :placeholder => "Song Original Album" %></td>
        <td><%= seconds_to_time song.duration %>
        <td><button class="delete btn btn-danger">Delete</button></td>
      </tr>
    <% end %>
    <tr>
      <td></td>
      <td>Total time</td>
      <td></td>
      <td></td>
      <td><%= seconds_to_time @mixtape.duration %></td>
      <td></td>
    </tr>
  </tbody>
</table>

<% @mixtape.songs.each do |song| %>
  <% if song.warning.length > 0 %>
    <div class="song-warning alert alert-warning">
      <b><%= song.artist %></b> - <b><%= song.title %></b> has some similar songs:
      <ul>
        <% song.warning.each do |warn| %>
          <li><%=warn%></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<% if @mixtape.warning %>
  <div id="mixtape-warning" class="alert alert-danger"><%= @mixtape.warning %></div>
<% end %>

<div id='current-upload'>
  <p>Drag one or more audio files here to add it to the mixtape. Drag them around with the handles to reorder them.</p>
  <div class="progress progress-striped active">
    <div class="progress-bar" style="width: 0%;"></div>
  </div>
</div>
