<h1>2013 Mixtapes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Creator</th>
      <th>Length</th>
      <th>Download</th>
      <th>Listen</th>
    </tr>
  </thead>
  <tbody>
    <% @mixtapes.each do |mixtape| %>
      <tr>
        <td><%= mixtape.name %></td>
        <td><%= mixtape.creator %></td>
        <td><%= mixtape.length %></td>
        <td><%= link_to "Download", mixtape_download_path(mixtape.id) %></td>
        <td><%= link_to "Listen", mixtape_listen_path(mixtape.id) %></td>
      </tr>
    <% end %>
  </tbody>
</ul>
