<div class="row-fluid">
  <div class="span8">
    <% if @previous %>
      <%= render partial: 'highlight' %>
    <% end %>
    <table id="mixes" class='table'>
      <thead>
        <tr>
          <th>Name</th>
          <th>Creator</th>
          <th>Length</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <% @mixtapes.each do |mixtape| %>
          <%= content_tag 'tr', :class => (mixtape == @highlight ? 'highlight' : '') do %>
            <td>
              <%= link_to mixtape.name, mixtape_path(mixtape.id) %>
              <% if current_user && mixtape.unread_count %>
                <%= link_to mixtape_comments(mixtape, mixtape.last_unread.link_id), :class => 'unread badge badge-info', :title => "%d unread comments" % mixtape.unread_count do %>
                  <%= mixtape.unread_count %>
                <% end %>
              <% end %>
            </td>
            <td><%= mixtape.creator %></td>
            <td><%= seconds_to_time mixtape.duration %></td>
            <td>
              <%= link_to "Download", download_mixtape_path(mixtape.id), :class => 'btn btn-primary' %>
              <%= link_to "Listen", listen_mixtape_path(mixtape.id), :class => 'btn', :disabled => true, :title => 'Not available yet' %>
            </td>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="span4">
    <% @comments.each do |comment| %>
      <%= render partial: 'comment', locals: { comment: comment, mixtape: true, editable: false } %>
    <% end %>
  </div>
</div>
<%= link_to "Download All", download_mixtapes_path, :class => 'btn btn-success' %>
