<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Creator</th>
      <th>Length</th>
      <th>Download</th>
      <th>Listen</th>
    </tr>
  </thead>
  <tbody>
    <% @mixtapes.each do |mixtape| %>
      <tr>
        <td><%= link_to mixtape.name, mixtape_path(mixtape.id) %></td>
        <td><%= mixtape.creator %></td>
        <td><%= seconds_to_time mixtape.duration %></td>
        <td><%= link_to "Download", mixtape_download_path(mixtape.id) %></td>
        <td><%= link_to "Listen", mixtape_listen_path(mixtape.id) %></td>
      </tr>
    <% end %>
  </tbody>
</ul>
