<div class="row">
  <div class="col-md-8">
    <table id="mixes" class='table'>
      <thead>
        <tr>
          <th>Name</th>
          <th>Length</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <% @mixtapes.each do |mixtape| %>
          <%= content_tag 'tr', :class => (mixtape == @highlight ? 'highlight' : '') do %>
            <td>
              <%= link_to mixtape.name, mixtape_path(mixtape.id) %>
              <% if current_user && mixtape.unread_count %>
                <%= link_to mixtape_comments(mixtape, mixtape.last_unread.link_id), :class => 'unread badge', :title => "%d unread comments" % mixtape.unread_count do %>
                  <%= mixtape.unread_count %>
                <% end %>
              <% end %>
            </td>
            <td><%= seconds_to_time mixtape.duration %></td>
            <td class="buttons-container">
              <%= link_to "Listen", visualize_mixtape_path(mixtape.id), :class => 'btn btn-default', :target => '_blank' %>
            </td>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
