<h1>Create New Mixtape</h1>

<p>Choose a password so that you can access and edit this mixtape until the
contest starts.</p>

<%= form_for @mixtape, :url => { :action => 'create' } do |f| %>
  <ul>
    <% @mixtape.errors.full_messages.each do |error|%>
      <li><%= error %></li>
    <% end %>
  </ul>

  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.submit "Create" %>
<% end %>
