<h1>
  <% if @owner %>
    <%= text_field_tag :name, @mixtape.name, :placeholder => "Mixtape Name" %>
  <% else %>
    <%= @mixtape.name %>
  <% end %>
</h1>

<table>
  <tbody>
    <% @mixtape.ordered_songs.each do |song| %>
      <% if @owner %>
        <tr data-song-id="<%= song.id %>">
          <td><div class="handle"></div></td>
          <td><%= text_field_tag :song_title, song.title, :placeholder => "Song Title" %></td>
          <td><%= text_field_tag :song_artist, song.artist, :placeholder => "Song Artist" %></td>
        </tr>
      <% else %>
        <tr>
          <td><%= song.track_number %></td>
          <td><%= song.title %>
          <td><%= song.artist %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<% if @owner %>
  <button id='new-song'>Add a song</button> (or drag and drop an audio file to quickly add one)
<% end %>
