<% @title = "#{@mixtape.name}" %>

<h1 class='download'>
  <%= link_to "Listen", listen_mixtape_path(@mixtape.id), :class => 'btn btn-default', :target => '_blank' %>
  <%= link_to "Visualize", visualize_mixtape_path(@mixtape.id), :class => 'btn btn-default', :target => '_blank' %>
  <%= link_to "Download", download_mixtape_path, :class => 'btn btn-default' %>
</h1>

<h1><%= @mixtape.name %></h1>

<table id='mixtape' class='table'>
  <thead>
    <tr>
      <th>Track</th>
      <th>Title</th>
      <th>Artist</th>
      <th>Original Album</th>
      <th>Duration</th>
      <% if current_user %>
      <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @mixtape.songs.each_with_index do |song, i| %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= song.title %></td>
        <td><%= song.artist %></td>
        <td><%= song.album %></td>
        <td><%= seconds_to_time song.duration %></td>
        <% if current_user %>
        <td class="buttons-container">
          <%= song_listen_button song %>
          <% if not song.compilation %>
            <% if @mixtape.voteable_by?(current_user) %>
              <%= song_like_button song %>
            <% else %>
              <%= song_like_button song, :dummy => true %>
            <% end %>
          <% end %>
        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<a name="comments"></a>
<h2>Comments</h2>

<% @mixtape.comments.each do |comment| %>
  <%= render partial: 'comment', locals: { comment: comment, mixtape: false, editable: true } %>
<% end %>

<% if current_user %>
  <h3>Post Comment</h3>
  <%= form_for [@mixtape, @comment], :action => 'create' do |f| %>
    <p>
      Remember, all comments are anonymous, but when the competition is over,
      your name will be revealed. Additionally, if you are the owner of this
      mixtape, your comments on this mixtape will show up tagged as
      <span class="label label-info">Mixtape Owner</span>.
    </p>
    <%= f.text_area :comment %>
    <%= f.submit "Add comment", :class => 'btn btn-primary' %>
  <% end %>
<% end %>
