<h1><%= @mixtape.name %></h1>

<table id='mixtape' class='table'>
  <thead>
    <tr>
      <th>Track</th>
      <th>Title</th>
      <th>Artist</th>
      <th>Original Album</th>
      <th>Duration</th>
    </tr>
  </thead>
  <tbody>
    <% @mixtape.ordered_songs.each do |song| %>
      <tr>
        <td><%= song.track_number %></td>
        <td><%= song.title %>
        <td><%= song.artist %>
        <td><%= song.album %>
        <td><%= seconds_to_time song.duration %>
      </tr>
    <% end %>
  </tbody>
</table>
