<% if @show_favorites %>
  <%= link_to "Shuffle my favorites", songs_favorites_path, :class => 'btn btn-default', :target => '_blank' %>
<% end %>

<table id="songs" class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Artist</th>
      <th>Album</th>
      <th>Found on</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @songs.each do |song| %>
      <%= content_tag 'tr', :class => (song.liked_by?(current_user) ? 'highlight' : '') do %>
        <td><%= song.title %></td>
        <td><%= song.artist %></td>
        <td><%= song.album %></td>
        <td><%= song.mixtape.name %></td>
        <td class="hearts">
          <% song.hearts.times do %>
            <i class="fa fa-heart"></i>
          <% end %>
        </td>
      <% end %>
    <% end %>
  </tbody>
</table>


