<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Artist</th>
      <th>Album</th>
      <th>Found on</th>
      <th>Likes</th>
    </tr>
  </thead>
  <tbody>
    <% @songs.each do |song| %>
      <% if song.likes.count > 0 %>
        <tr>
          <td><%= song.title %></td>
          <td><%= song.artist %></td>
          <td><%= song.album %></td>
          <td><%= song.mixtape.name %></td>
          <td><%= song.likes.count %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>


