<!DOCTYPE html>
<html>
<head>
  <title>Mixtapes</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="alerts">
    <% flash.each do |type, message| %>
      <% if message.respond_to? :each %>
        <% message.each do |m| %>
          <div class="alert alert-<%= type %>"><%= m %></div>
        <% end %>
      <% else %>
        <div class="alert alert-<%= type %>"><%= message %></div>
      <% end %>
    <% end %>
  </div>

  <%= yield %>

</body>
</html>
