<!DOCTYPE html>
<html>
<head>
  <title><%= Maybe(@title).map { |t| "#{t} – The Mixtape Server" }._("The Mixtape Server") %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="navbar-inner">
      <a class="navbar-brand" href="/">Friends of Jack Mixtapes 2017</a>
      <ul class="nav navbar-nav pull-left">
        <%= navbar_link_to 'Home', home_path %>
        <% if before_contest %>
          <% if current_user %>
            <% if current_user.mixtape %>
              <%= navbar_link_to "Edit my mixtape", mixtape_path(current_user.mixtape.id) %>
              <%= navbar_link_to "Delete my mixtape", destroy_mixtape_path(current_user.mixtape.id) %>
              <%= navbar_link_to "Preview download", download_mixtape_path(current_user.mixtape.id) %>
              <%= navbar_link_to "Preview listen", listen_mixtape_path(current_user.mixtape.id) %>
            <% else %>
              <%= navbar_link_to "Create mixtape", new_mixtape_path %>
            <% end %>
          <% end %>
        <% else %>
          <%= navbar_link_to 'View mixtapes', mixtapes_path %>
          <%= navbar_link_to 'Stand-out songs', songs_path %>
          <% if current_user %>
            <%= navbar_link_to 'My guesses', guesses_path %>
            <%= navbar_link_to 'My votes', votes_path %>
          <% end %>
        <% end %>
      </ul>

      <ul class="nav navbar-nav pull-right">
        <% if current_user %>
          <%= content_tag 'li' do %>
            <%= content_tag 'p', :class => 'navbar-text' do %>
              <%= tag 'img', :src => current_user.gravatar %>
              <%= current_user.name %>
            <% end %>
          <% end %>
          <%= navbar_link_to 'Logout', signout_path %>
        <% else %>
          <%= navbar_link_to "Sign in with Google", "/auth/google_oauth2" %>
        <% end %>
      </ul>
    </div>
  </nav>

  <% if voting_warning && !current_page?(votes_path) %>
    <%= link_to votes_path, :class => 'full-flash' do %>
      <%= pluralize voting_warning, 'day' %> left to vote. Click to learn more.
    <% end %>
  <% end %>

  <div class="container">
    <div id="alerts">
      <% flash.each do |type, message| %>
        <% if message.respond_to? :each %>
          <% message.each do |m| %>
            <div class="alert alert-<%= type %>"><%= m %></div>
          <% end %>
        <% else %>
          <div class="alert alert-<%= type %>"><%= message %></div>
        <% end %>
      <% end %>
    </div>

    <%= yield %>
  </div>
</body>
</html>
