<!DOCTYPE html>
<html>
<head>
  <title><%= Maybe(@title).map { |t| "#{t} – The Mixtape Server" }._("The Mixtape Server") %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="navbar-inner">
      <ul class="nav navbar-nav pull-left">
        <li class="dropdown">
          <a href="#" class="navbar-brand dropdown-toggle" data-toggle="dropdown">
            <%= @navbar_label %> <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <% @navbar_contests.each do |contest| %>
              <li><%= link_to contest.name, contest_mixtapes_path(contest.id) %></li>
            <% end %>
          </ul>
        </li>

        <% if contest_context %>
          <%= render partial: 'contest_navbar', locals: {participant: current_user, contest: contest_context} %>
        <% end %>
      </ul>

      <ul class="nav navbar-nav pull-right">
        <% if current_user %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= tag 'img', :class => "gravatar", :src => current_user.gravatar %>
              <%= current_user.name %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <%= navbar_link_to 'My Mixes', mixtapes_user_path %>
              <%= navbar_link_to 'My Favorite Songs', favorites_user_path %>
              <%= navbar_link_to 'Logout', signout_path %>
            </ul>
          </li>
        <% else %>
          <%= navbar_link_to "Sign in with Google", "/auth/google_oauth2" %>
        <% end %>
      </ul>
    </div>
  </nav>

  <% if voting_warning && !current_page?(votes_path) %>
    <%= link_to votes_path, :class => 'full-flash' do %>
      <%= pluralize voting_warning, 'day' %> left to vote. Click to learn more.
    <% end %>
  <% end %>

  <div class="container">
    <div id="alerts">
      <% flash.each do |type, message| %>
        <% if message.respond_to? :each %>
          <% message.each do |m| %>
            <div class="alert alert-<%= type %>"><%= m %></div>
          <% end %>
        <% else %>
          <div class="alert alert-<%= type %>"><%= message %></div>
        <% end %>
      <% end %>
    </div>

    <%= yield %>
  </div>
</body>
</html>
