<!DOCTYPE html>
<html>
<head>
  <title>Mixtapes</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="/">Fog Creek Mixtapes 2013</a>
      <ul class="nav pull-left">
        <%= navbar_link_to 'Home', root_path %>
        <% if before_contest %>
          <% if current_user %>
            <% if current_user.mixtape %>
              <%= navbar_link_to "Edit My Mixtape", mixtape_path(current_user.mixtape.id) %>
              <%= navbar_link_to "Delete My Mixtape", destroy_mixtape_path(current_user.mixtape.id) %>
            <% else %>
              <%= navbar_link_to "Create Mixtape", new_mixtape_path %>
            <% end %>
          <% end %>
        <% else %>
          <%= navbar_link_to 'View mixtapes', mixtapes_path %>
          <%= navbar_link_to 'Stand out songs', songs_path %>
        <% end %>
      </ul>

      <ul class="nav pull-right">
        <% if current_user %>
          <%= content_tag 'li', :class => 'pull-right' do %>
            <%= content_tag 'p', :class => 'navbar-text' do %>
              <%= tag 'img', :src => current_user.gravatar %>
            <% end %>
          <% end %>
          <%= content_tag 'li', :class => 'pull-right' do %>
            <%= content_tag 'p', current_user.name, :class => 'navbar-text' %>
          <% end %>
          <li class="divider-vertical"></li>
          <%= navbar_link_to 'Logout', signout_path %>
        <% else %>
          <%= navbar_link_to "Sign in with Google", "/auth/google_oauth2" %>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="container">
    <div id="alerts">
      <% flash.each do |type, message| %>
        <% if message.respond_to? :each %>
          <% message.each do |m| %>
            <div class="alert alert-<%= type %>"><%= m %></div>
          <% end %>
        <% else %>
          <div class="alert alert-<%= type %>"><%= message %></div>
        <% end %>
      <% end %>
    </div>

    <%= yield %>
  </div>
</body>
</html>
